@font-face {
  font-family: "Old English";
  src: url("/fonts/oldenglishtextmt.woff2") format("woff2"), url("/fonts/oldenglishtextmt.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poor Richard";
  src: url("/fonts/PoorRichardOpti.woff2") format("woff2"), url("/fonts/PoorRichardOpti.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"), url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body .header {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
}
body .header nav {
  width: 100%;
  text-align: center;
}
body .header nav a {
  text-decoration: none;
}
body .header nav a h1 {
  font-family: "Poor Richard", system-ui, sans-serif;
  font-size: clamp(16px, 8vw, 70px);
  color: rgb(48, 46, 46);
  margin: 0.1em;
}
body .header nav a h1 span {
  font-family: "Old English", system-ui, sans-serif;
  font-size: 1.3em;
}
body .header nav p {
  color: rgb(48, 46, 46);
  font-family: "Poor Richard", system-ui, sans-serif;
  font-style: italic;
  margin: 0;
}
body .header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}
body .header nav ul li {
  font-family: "Poor Richard", system-ui, sans-serif;
  text-transform: uppercase;
  padding: 0.5em;
}
body .header nav ul li a {
  text-decoration: none;
  color: orange;
}
body .header nav ul li a:hover, body .header nav ul li a:active {
  color: black;
  text-decoration: underline;
}
body .header nav ul li img {
  height: 2em;
}
body .header nav ul li::after {
  content: "|";
  margin-left: 1em;
}
body .header nav ul li:last-child::after {
  content: "";
}
body .main {
  flex: 1 0 auto;
}
body .main img {
  width: 100vw;
  display: block;
  margin: auto;
}
body .main h2 {
  text-align: center;
  text-transform: uppercase;
}
body .main .gallery {
  aspect-ratio: 3/2;
  position: relative;
  width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}
body .main .gallery img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
body .main .gallery img.active {
  opacity: 1;
  position: relative;
}
body .footer {
  background-color: rgba(82, 81, 81, 0.9);
}
body .footer div ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}
body .footer div ul li {
  font-family: "Poor Richard", system-ui, sans-serif;
  text-transform: uppercase;
  padding: 0.5em;
}
body .footer div ul li a {
  text-decoration: none;
  color: orange;
}
body .footer div ul li a:hover, body .footer div ul li a:active {
  color: black;
  text-decoration: underline;
}
body .footer div ul li::after {
  content: "|";
  margin-left: 1em;
}
body .footer div ul li:last-child::after {
  content: "";
}
body .footer div p {
  font-family: "Poor Richard", system-ui, sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}/*# sourceMappingURL=main.css.map */