@font-face
{
    font-family: 'Old English';
    src: url("/fonts/oldenglishtextmt.woff2") format("woff2"), url("/fonts/oldenglishtextmt.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: 'Poor Richard';
    src: url("/fonts/PoorRichardOpti.woff2") format("woff2"), url("/fonts/PoorRichardOpti.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: 'Open Sans';
    src: url("/fonts/OpenSans-VariableFont_wdth\,wght.woff2") format("woff2"), url("/fonts/OpenSans-VariableFont_wdth\,wght.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body
{
    margin: 0;
    background-image: url("../images/papertexture.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .header
    {
        display: flex;
        justify-content: center;
        background-color: lightseagreen;
        nav 
        {
            width: 100%;
            text-align: center;
            a 
            {
                text-decoration: none;
                h1 
                {
                    font-family: 'Poor Richard', system-ui, sans-serif;
                    font-size: clamp(16px,8vw,70px);
                    color: rgb(48, 46, 46);
                    margin: .1em;
                    span 
                    {
                        font-family: 'Old English', system-ui, sans-serif;
                        font-size: 1.3em;
                    }
                }
            }
            p 
            {
                color: rgb(48, 46, 46);
                font-family: 'Poor Richard', system-ui, sans-serif;
                font-style: italic;
                margin: 0;
                font-size: calc(70% + .5vw);
            }
            ul 
            {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
                margin: 0 auto;
                li 
                {
                    font-family: 'Poor Richard', system-ui, sans-serif;
                    text-transform: uppercase;
                    padding: .5em;
                    a 
                    {
                        text-decoration: none;
                        color: orange;
                    }
                    a:hover, a:active 
                    {
                        color: black;
                        text-decoration: underline;
                    }
                    img 
                    {
                        height: 2em;
                    }
                }
                li::after 
                {
                    content: "|";
                    margin-left: 1em;
                }
                li:last-child::after
                {
                    content: "";
                }
            }
        }
    }

    .main
    {
        flex: 1 0 auto;


        img 
        {
            width: 100vw;
            display: block;
            margin: auto;
            
        }
        h2 
        {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Poor Richard', system-ui, sans-serif;
            font-size: calc(100% + 1vw);
        }
        h3 
        {
            text-transform: uppercase;
            font-family: 'Poor Richard', system-ui, sans-serif;
            font-size: calc(100% + .2vw);
        }
        p 
        {
            text-align: center;
            font-size: calc(50% + .5vw);
            font-family: 'Open Sans', system-ui, sans-serif;
        }
        .gallery
        {
            aspect-ratio: 3/2;
            position: relative;
            width: 100vw;
            max-height: 80vh;
            overflow: hidden;

            img 
            {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 0.8s ease-in-out;
            }
            img.active 
            {
                opacity: 1;
                position: relative;
            }
        }
        .characterbio
        {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .charactertext
            {
                flex: 20em;
                p 
                {
                    min-width: 15em;
                    margin: 1em;
                    font-size: calc(50% + .5vw);
                }
            }
            img 
            {
                
                width: 60vw;
                height: 30vw;
                min-height: 200px;
                min-width: 200px;
                object-fit: cover;
                object-position: left 0;
            }
        }
        .productgallery
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 3em;
            margin-right: 3em;
            a 
            {
                text-decoration: none;
                color: black;
                .product 
                {
                    background-color: whitesmoke;
                    margin: 1em;
                    img
                    {
                        width: 18em;
                    }
                    p 
                    {
                        font-size: 20px;
                        padding-top: .7em;
                    }
                    .productprice
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p
                        {
                            font-size: 20px;
                            padding-top: 0;
                        }
                        
                    }
                }
            }
        }
        .itemblock
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .itemblock-left
            {
                .item-gallery
                {
                    aspect-ratio: 1/1;
                    position: relative;
                    width: 50vw;
                    min-width: 250px;
                    max-width: 600px;
                    overflow: hidden;
                    img 
                    {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0;
                        transition: opacity 0.8s ease-in-out;
                    }
                    img.active 
                    {
                        opacity: 1;
                        position: relative;
                    }
                    .gallery-btn 
                    {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: rgba(0, 0, 0, 0.5);
                        color: white;
                        border: none;
                        padding: 0.5em 0.8em;
                        cursor: pointer;
                        font-size: 1.2em;
                        z-index: 2;

                        &:hover 
                        {
                            background: rgba(0, 0, 0, 0.8);
                        }
                    }
                    .prev 
                    {
                        left: 0;
                    }

                    .next 
                    {
                        right: 0;
                    }
                }
            }
            .itemblock-right
            {
                margin-left: 20px;
                max-width: 40vw;
                min-width: 250px;
                p
                {
                    text-align: left;
                }
                h3 
                {
                    text-align: left;
                }
                
                .color-options {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 1em;
                    li {
                        padding: 0.5em;
                        cursor: pointer;
                        transition: transform 0.15s ease, box-shadow 0.15s ease;

                        img {
                            width: 2em;
                            display: block;
                        }

                        &.selected {
                            transform: scale(1.5);
                        }
                    }
                }
                
                .quantity-selector 
                {
                    display: inline-flex;
                    align-items: center;
                    gap: 0;

                    .qty-btn 
                    {
                        background-color: lightseagreen;
                        color: white;
                        border: none;
                        padding: 0.4em 0.7em;
                        font-size: 1.2em;
                        cursor: pointer;

                        &:hover 
                        {
                            background-color: darken(lightseagreen, 10%);
                        }
                    }
                    .qty-value 
                    {
                        background-color: white;
                        padding: 0.4em 0.7em;
                        min-width: 2ch;
                        text-align: center;
                        font-size: 1.1em;
                        font-family: 'Open Sans', system-ui, sans-serif;
                    }
                }
                .add-to-cart-button
                {
                    border: none;
                    display: flex;
                    margin: 1em 0 0 0;
                    background-color: lightseagreen;
                    h3 
                    {
                        margin: 1em;
                    }
                    img 
                    {
                        width: 2em;
                        margin-right: 1em;
                    }
                }
                .add-to-cart-button:hover, .add-to-cart-button:active
                {
                    background-color: darken(lightseagreen, 10%);
                }

            }
        }
    }

    .footer
    {
        background-color: rgba(82, 81, 81, 0.9);
        div 
        {
            margin-top: 1em;
            ul 
            {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0 auto;
                li 
                {
                    font-family: 'Poor Richard', system-ui, sans-serif;
                    text-transform: uppercase;
                    padding: .5em;
                    a 
                    {
                        text-decoration: none;
                        color: orange;
                    }
                    a:hover, a:active 
                    {
                        color: black;
                        text-decoration: underline;
                    }
                    img 
                    {
                        height: 1em;
                    }
                }
                li::after 
                {
                    content: "|";
                    margin-left: 1em;
                }
                li:last-child::after
                {
                    content: "";
                }
            }
            p 
            {
                font-family: 'Poor Richard', system-ui, sans-serif;
                text-align: center;
                font-style: italic;
                font-size: .8em;
            }
        }
    }
}