@font-face
{
    font-family: 'Old English';
    src: url("/fonts/oldenglishtextmt.woff2") format("woff2"), url("/fonts/oldenglishtextmt.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: 'Poor Richard';
    src: url("/fonts/PoorRichardOpti.woff2") format("woff2"), url("/fonts/PoorRichardOpti.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: 'Open Sans';
    src: url("/fonts/OpenSans-VariableFont_wdth\,wght.woff2") format("woff2"), url("/fonts/OpenSans-VariableFont_wdth\,wght.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body
{
    margin: 0;
    background-image: url("../images/papertexture.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .header
    {
        display: flex;
        justify-content: center;
        background-color: lightseagreen;
        nav 
        {
            width: 100%;
            text-align: center;
            a 
            {
                text-decoration: none;
                h1 
                {
                    font-family: 'Poor Richard', system-ui, sans-serif;
                    font-size: clamp(16px,8vw,70px);
                    color: rgb(48, 46, 46);
                    margin: .1em;
                    span 
                    {
                        font-family: 'Old English', system-ui, sans-serif;
                        font-size: 1.3em;
                    }
                }
            }
            p 
            {
                color: rgb(48, 46, 46);
                font-family: 'Poor Richard', system-ui, sans-serif;
                font-style: italic;
                margin: 0;
                font-size: calc(70% + .5vw);
            }
            ul 
            {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
                margin: 0 auto;
                li 
                {
                    font-family: 'Poor Richard', system-ui, sans-serif;
                    text-transform: uppercase;
                    padding: .5em;
                    a 
                    {
                        text-decoration: none;
                        color: orange;
                    }
                    a:hover, a:active 
                    {
                        color: black;
                        text-decoration: underline;
                    }
                    img 
                    {
                        height: 2em;
                    }
                }
                li::after 
                {
                    content: "|";
                    margin-left: 1em;
                }
                li:last-child::after
                {
                    content: "";
                }
            }
        }
    }

    .main
    {
        flex: 1 0 auto;


        img 
        {
            width: 100vw;
            display: block;
            margin: auto;
            
        }
        h2 
        {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Poor Richard', system-ui, sans-serif;
            font-size: calc(100% + 1vw);
        }
        p 
        {
            text-align: center;
            font-size: calc(50% + .5vw);
            font-family: 'Open Sans', system-ui, sans-serif;
        }
        .gallery
        {
            aspect-ratio: 3/2;
            position: relative;
            width: 100vw;
            max-height: 80vh;
            overflow: hidden;

            img 
            {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 0.8s ease-in-out;
            }
            img.active 
            {
                opacity: 1;
                position: relative;
            }
        }
        .characterbio
        {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .charactertext
            {
                flex: 20em;
                p 
                {
                    min-width: 15em;
                    margin: 1em;
                    font-size: calc(50% + .5vw);
                }
            }
            img 
            {
                
                width: 60vw;
                height: 30vw;
                min-height: 200px;
                min-width: 200px;
                object-fit: cover;
                object-position: left 0;
            }
        }
        .productgallery
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 3em;
            margin-right: 3em;
            .product 
            {
                background-color: whitesmoke;
                margin: 1em;
                img 
                {
                    width: 18em;
                }
                .productprice
                {
                    display: flex;
                    justify-content: center;
                    img 
                    {
                        width: 3em;
                    }
                }
            }
        }
    }

    .footer
    {
        background-color: rgba(82, 81, 81, 0.9);
        div 
        {
            margin-top: 1em;
            ul 
            {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
                margin: 0 auto;
                li 
                {
                    font-family: 'Poor Richard', system-ui, sans-serif;
                    text-transform: uppercase;
                    padding: .5em;
                    a 
                    {
                        text-decoration: none;
                        color: orange;
                    }
                    a:hover, a:active 
                    {
                        color: black;
                        text-decoration: underline;
                    }
                }
                li::after 
                {
                    content: "|";
                    margin-left: 1em;
                }
                li:last-child::after
                {
                    content: "";
                }
            }
            p 
            {
                font-family: 'Poor Richard', system-ui, sans-serif;
                text-align: center;
                font-style: italic;
                font-size: .8em;
            }
        }
    }
}